<div class="container col-sm-8 card border-primary mb-3">
    <div class="card-header">Tiendas</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Tiendas</h5>
     
      <div class="my-2 text-left">
      </div>
      
      <table class="table table-bordered table-striped">          
        <thead>
            <tr>
                <th>Nombre Tienda</th>
                <th>Numero de Tienda</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let tienda of tiendas">
                <td>{{ tienda.nombreTienda }}</td>
                <td>{{ tienda.numeroTienda }}</td>
            </tr>
          </tbody>
      </table>    
    </div>
  </div>
