<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="text-white navbar-brand" href="#">BLOCKBUSTER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
      
        <li class="nav-item" routerLinkActive="active">
          <a class="text-white nav-link" routerLink="/clientes">Clientes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="text-white nav-link" routerLink="/Juegos">Juegos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="text-white nav-link" routerLink="/companies">Compañías</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="text-white nav-link" routerLink="/stocks">Stocks</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="text-white nav-link" routerLink="/tiendas">Tiendas</a>
        </li>
        
      </ul>
      
       
    </div>
  </nav>