<footer class="footer bg-dark text-center mt-4 fixed-bottom">
    <div class="container py-2">
        <p class="text-white my-2">
            &copy; {{autor.nombre + " " + autor.apellido}}
        </p>
    </div>
</footer>