<div class="container col-sm-8 card border-primary mb-3">
    <div class="card-header">Compañias</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Compañías</h5>
     
      <div class="my-2 text-left">
        <!--<button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/companies/form']">Crear cliente</button>-->
      </div>
      
      <table class="table table-bordered table-striped">          
        <thead>
            <tr>
                <th>Nombre compañía</th>
                <th>CIF</th>
                <th>Juegos</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let company of companies">
                <td>{{ company.nombreCompany }}</td>
                <td>{{ company.cifCompany }}</td>      
                <td>
                  <span *ngFor="let juego of company.juegos">
                    {{ juego.titulo}}
                  </span>
                </td>         
            </tr>
          </tbody>
      </table>    
    </div>
  </div>
