<div class="container col-sm-8 card bg-dark text-white">
    <div class="card-header"> Login</div>
    
    <div class="card-body">
        <form #loginForm="ngForm">
            <div>
                <label for="username" class="col-form-label col-sm-8" >Nombre de usuario</label>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control" [(ngModel)]="credentials.username" placeholder="Username" name="username" maxlength="255" required #usernamehash="ngModel">
            
                <div class="alert alert-danger" *ngIf="usernamehash.invalid && usernamehash.dirty">
                    <div *ngIf="usernamehash.errors.required"> Debe de rellenar el nombre de usuario</div>
                </div>
            </div>

            <div>
                <label for="password" class="col-form-label col-sm-8" >Contraseña</label>
            </div>
            <div class="col-sm-6">
                <input type="password" class="form-control" [(ngModel)]="credentials.password" placeholder="password" name="password" maxlength="255" required #passwordhash="ngModel">
            
                <div class="alert alert-danger" *ngIf="passwordhash.invalid && passwordhash.dirty">
                    <div *ngIf="passwordhash.errors.required"> Debe de rellenar la contraseña</div>
                </div>
            </div>

            <br>
            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" type="button" (click)="login()" [disabled]="!loginForm.form.valid">Login</button>
                    
                </div>
            </div>
        </form>
    </div>
</div>