
<div>
    <app-header></app-header>
</div>

<div class="container mt-4">
    <app-alert></app-alert>
    <router-outlet></router-outlet>

</div>

<div class="mt-20">
    <br>
    <br>
    <app-footer></app-footer>
</div>


