<div class="container col-sm-12 card border-primary mb-3">
    <div class="card-header">Juegos</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Juegos</h5>

      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/juegos/juegoform']">Crear Juego</button>
        <button type="button" class="btn btn-primary float-right" (click)="switchTitulo()">{{ showtitulo ? 'Ocultar' : 'Mostrar' }} Juego </button>
      </div>

      <table class="table table-bordered table-striped">          
        <thead>
            <tr>
                <th *ngIf='showtitulo'>Titulo</th>
                <th>Fecha Lanzamiento</th>
                <th>Categoria</th>
                <th>Pegi</th>
                <th>Companñias</th>
                <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let juego of juegos">
                <td *ngIf='showtitulo'>{{ juego.titulo }}</td>
                <td>{{ juego.fechaLanzamientoJuego }}</td> <!-- | date: 'dd/MM/yyyy'-->
                <td>{{ juego.categoriasJuegos }}</td>
                <td>{{ juego.pegiEdadJuego }}</td>
                <td>
                  <span *ngFor="let Company of juego.company">
                    {{ Company.nombreCompany}}
                  </span>
                </td>
                <td>
                  <button class="btn btn-primary" type="button" name="button" [routerLink]="['/juegos/juegoform', juego.titulo]">Editar</button>
                  <button class="btn btn-danger ml-2" type="button" (click)="delete(juego.titulo)">Eliminar</button>
                </td>
            </tr>
          </tbody>
      </table>    
    </div>
  </div>
