<div class="container card bg-dark text-white">
    <div class="card-header"> Crear juego <button type="button" class="close btn-danger " aria-label="Close" routerLink = "/Juegos"> <span aria-hidden="true">&times;</span> </button></div>
    

    <div class="card-body">
        <p>*Debe rellenar todos los campos</p>
        <form #juegoForm="ngForm">

            
            <div class="form-group row">
                <label for="titulo" class="col-form-label col-sm-2" >*Titulo</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="juego.titulo" placeholder="titulo" name="titulo" maxlength="255" required #titulohash="ngModel">
                
                    <div class="alert alert-danger" *ngIf="titulohash.invalid && titulohash.dirty">
                        <div *ngIf="titulohash.errors.required"> Debe de rellenar el titulo del juego</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">*Compañia</label>
                <div class="col-sm-6">
                    <select [compareWith]="compararComp" multiple class="form-control" [(ngModel)]="juego.company"
                        name="roles" required>
                        <option *ngFor="let comapania of companies" [ngValue]="comapania">{{ comapania.nombreCompany }}
                        </option>
                    </select>
                </div>
            </div> 

            <div class="form-group row">
                <label for="fechaLanzamientoJuego" class="col-form-label col-sm-2">*Fecha Lanzamiento</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" [(ngModel)]="juego.fechaLanzamientoJuego" name="fechaLanzamiento" required #fechahash="ngModel">

                    <div class="alert alert-danger" *ngIf="fechahash.invalid && fechahash.dirty">
                        <div *ngIf="fechahash.errors.required"> Debe de rellenar la fecha lanzamiento</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="pegiEdadJuego" class="col-form-label col-sm-2">*PEGI</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="juego.pegiEdadJuego" name="pegiEdadJuego" required #pegihash="ngModel">

                    <div class="alert alert-danger" *ngIf="pegihash.invalid && pegihash.dirty">
                        <div *ngIf="pegihash.errors.required"> Debe de rellenar el campo PEGI</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">*Categoria Juego</label>
                <div class="col-sm-6">
                    <select class="form-control" [(ngModel)]="juego.categoriasJuegos" name="categoriasJuegos" required #categoriahash="ngModel">                       
                        <option>ARCADE</option>
                        <option>AVENTURA</option>
                        <option>SHOOTER</option>
                        <option>CARRERAS</option>
                    </select>
                    <div class="alert alert-danger" *ngIf="categoriahash.invalid && categoriahash.dirty">
                        <div *ngIf="categoriahash.errors.required"> Debe elegir una categoria</div>
                    </div>
                </div>
            </div>           

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" type="button" (click)="create()" *ngIf="!nuevoJuego else elseBlock" [disabled]="!juegoForm.form.valid">Crear juego</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" type="button" (click)="updateJuego()" *ngIf="juego.titulo" [disabled]="!juegoForm.form.valid">Editar juego</button>
                    </ng-template>
                    <button class="btn btn-secondary ml-2" type="button" routerLink="/Juegos">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>