<div class="container col-sm-8 card border-primary mb-3">
    <div class="card-header">Stocks</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Stocks</h5>
     
      <div class="my-2 text-left">
      </div>
      
      <table class="table table-bordered table-striped">          
        <thead>
            <tr>
                <th>Estado del Stock</th>
                <th>Referencia del Stock</th>
                <th>Tiendas</th>
                <th>Juegos</th>
                <th>Clientes</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stock of stocks">
                <td>{{ stock.estadoStock }}</td>
                <td>{{ stock.referenciaPedidoStock }}</td>
                <td>
                  {{stock.tienda.nombreTienda}}
                </td>
                <td>
                  {{ stock.juegos.titulo}}
                </td>  
                <td>
                  {{ stock.clientes.nombreCliente}}
                </td>
            </tr>
          </tbody>
      </table>    
    </div>
  </div>
