<div class="container col-sm-12 card border-primary mb-3" *ngIf="clientes?.length > 0">
    <div class="card-header">Clientes


     
    </div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Clientes</h5>

      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/clientes/form']">Crear cliente</button>
        <button class="btn btn-warning float-right" type="button" (click)="logout()" *ngIf="token!=null">Logout</button>
      </div>
      
      <table class="table table-bordered table-striped">          
        <thead>
            <tr>
                <th>Username</th>
               <!-- <th>Contraseña</th> -->
                <th>Nombre</th>
                <th>Fecha Nacimiento</th>
                <th>Correo</th>
                <th>DNI</th>
                <th>Roles</th>
                <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientes | paginate: page_size: page_number">
                <td>{{ cliente.username }}</td>
               <!-- <td>{{ cliente.password }}</td> -->
                <td>{{ cliente.nombreCliente }}</td>
                <td>{{ cliente.fechaNacimientoCliente }}</td>
                <td>{{ cliente.correoCliente }}</td>
                <td>{{ cliente.documentacionCliente }}</td>
                <td>
                  <table class="table table-sm table-borderless">
                    <tr>
                      <td *ngFor="let rol of cliente.roles">{{rol.roles}}</td>
                    </tr>
                  </table>
                </td>
                <td>
                  <button class="btn btn-primary" type="button" name="button" [routerLink] = "['/clientes/form', cliente.documentacionCliente]">Editar</button>
                  <button class="btn btn-danger ml-2" type="button" (click)="delete(cliente.documentacionCliente)">Eliminar</button>
                </td>
            </tr>
          </tbody>
      </table>    
      
    </div>
    <div class="col-sm-12">
      <mat-paginator [length]="clientes.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)">
      </mat-paginator>
  </div> 
  </div>
