<div class="container card bg-dark text-white">
    <div class="card-header"> Crear cliente <button type="button" class="close btn-danger " aria-label="Close" routerLink = "/clientes"> <span aria-hidden="true">&times;</span> </button></div>
    

    <div class="card-body">
        <p>*Debe rellenar todos los campos</p>
        <form #clienteForm="ngForm">

            
            <div class="form-group row">
                <label for="username" class="col-form-label col-sm-2" >*Username</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.username" placeholder="username" name="username" maxlength="255" required #usernamehash="ngModel">
                
                    <div class="alert alert-danger" *ngIf="usernamehash.invalid && usernamehash.dirty">
                        <div *ngIf="usernamehash.errors.required"> Debe de rellenar el titulo del juego</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-form-label col-sm-2">*Contraseña</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" [(ngModel)]="cliente.password" name="password" required #contrahash="ngModel">

                    <div class="alert alert-danger" *ngIf="contrahash.invalid && contrahash.dirty">
                        <div *ngIf="contrahash.errors.required"> Debe de rellenar una contraseña </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="nombreCliente" class="col-form-label col-sm-2">*Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombreCliente" name="nombreCliente" required #nombrehash="ngModel">

                    <div class="alert alert-danger" *ngIf="nombrehash.invalid && nombrehash.dirty">
                        <div *ngIf="nombrehash.errors.required"> Debe de rellenar el nombre</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="fechaNacimientoCliente" class="col-form-label col-sm-2">*Fecha Nacimiento</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" [(ngModel)]="cliente.fechaNacimientoCliente" name="fechaNacimientoCliente" required #fechahash="ngModel">

                    <div class="alert alert-danger" *ngIf="fechahash.invalid && fechahash.dirty">
                        <div *ngIf="fechahash.errors.required"> Debe de rellenar la fecha nacimiento</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="correoCliente" class="col-form-label col-sm-2">*Correo electrónico</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" [(ngModel)]="cliente.correoCliente" name="correoCliente" required #emailhash="ngModel">

                    <div class="alert alert-danger" *ngIf="emailhash.invalid && emailhash.dirty">
                        <div *ngIf="emailhash.errors.required"> Debe de rellenar el correo</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="documentacionCliente" class="col-form-label col-sm-2">*DNI</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.documentacionCliente" name="documentacionCliente" required #dnihash="ngModel">

                    <div class="alert alert-danger" *ngIf="dnihash.invalid && dnihash.dirty">
                        <div *ngIf="dnihash.errors.required"> Debe de rellenar el campo dni</div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="" class="col-form-label col-sm-2">*Roles</label>
                <div class="col-sm-6">
                    <select [compareWith]="compararRol" multiple class="form-control" [(ngModel)]="cliente.roles" name="roles" required>

                        
                        <option *ngFor="let rol of aRoles" [ngValue]="rol">{{ rol.roles }}</option>
                    </select>
                </div>
            </div> 

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" type="button" (click)="create()" *ngIf="!nuevoCliente else elseBlock" [disabled]="!clienteForm.form.valid">Crear cliente</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" type="button" (click)="updateCliente()" *ngIf="cliente.documentacionCliente" [disabled]="!clienteForm.form.valid">Editar cliente</button>
                    </ng-template>
                    <button class="btn btn-secondary ml-2" type="button" routerLink="/clientes">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>